---
import Application from "@/layouts/Application.astro"

import Breadcrumbs from "@/components/Breadcrumbs.astro"
import Typography from "@/components/Typography.astro"
import Videos from "./components/Videos/Videos.astro"

import youtubePng from "@/assets/youtube.png"
---

<Application>
  <main class="grow">
    <div class="bg-white bg-opacity-60 px-4 pb-8 pt-6 md:py-12">
      <div class="mx-auto w-full max-w-content">
        <Breadcrumbs items={["About us"]} />

        <div class="mt-6 flex max-w-[52.5rem] flex-col">
          <h1 class="text-[1.5rem] font-bold leading-9">About us</h1>

          <Typography>
            <p>
              The Olympiad is organized by The Association of Global
              Universities, in collaboration with the Ministry of Science and
              Higher Education of the Russian Federation and the Federal Agency
              for the Commonwealth of Independent States Affairs, Compatriots
              Living Abroad, and International Humanitarian Cooperation
              (Rossotrudichestvo). <br />
              The competition is aimed at talented foreign students who would like
              to enroll in master's and postgraduate programs in Russia for free.
            </p>

            <p>
              The winners of the Open Doors are granted a free early admission
              at any Russian university, without entrance examinations and with
              tuition fees covered by the Russian Federation.
            </p>

            <p>
              The competition winners will be able to enroll in a program using
              a single-window system, choosing any of Russian universities. The
              language of instruction is English or Russian depending on the
              chosen program and the university.
            </p>

            <p>
              The Olympiad has two tracks - for prospective Master's and
              doctoral students (analogous to Ph.D.). The Olympiad is held in
              two rounds for the Master's track and in three rounds for the
              doctoral track (analogous to Ph.D.). The first round is a
              competition of portfolios, and the second round is a
              problem-solving challenge. The third round of the Olympiad
              involves the selection of a prospective research supervisor for
              the chosen doctoral program (analogous to Ph.D.) and an interview
              with him/her.
            </p>

            <p>
              The competition is open to foreign citizens and stateless persons,
              including compatriots living abroad, having a Bachelor's degree or
              completing a Bachelor degree program in the year of the Olympiad
              for the Master's track and having a Master's or Specialist's
              degree for the doctoral track (analogous to Ph.D.) in the year of
              the Olympiad. <br />
              First time here? Check this out to learn what Open Doors is all about!
            </p>

            <p>
              <img
                src={youtubePng.src}
                alt="youtube"
                class="clear float-left mr-4 inline-flex"
              />

              <strong class="text-blue"
                >The INTERNATIONAL OPEN DOORS OLYMPIAD for prospective master
                and doctoral students - General overview of the rules</strong
              >
              <br />
              A comprehensive step-by-step guide to all stages of the Olympiad process.
              It contains everything you need to know on what, how and when to do
              if you’d like to win our scholarship. If you have any question at all
              about Open Doors - most likely, you’ll find the answer here.
            </p>
          </Typography>
        </div>
      </div>
    </div>

    <Videos />
  </main>
</Application>
