---
import { type Video } from "../../_data"

type Props = Video

const { title, embed } = Astro.props
---

<li
  class="glide__slide w-[calc(100vw_-_2rem)] shrink-0 select-none px-4 md:w-[33rem] md:px-0"
>
  <div class="flex flex-col gap-4 rounded-[1rem] bg-white p-6 md:gap-6 md:p-8">
    <div
      class="overflow-clip rounded-[0.5rem]"
      set:html={embed}
    />

    <div class="text-[1.125rem] font-bold leading-[1.625rem]">{title}</div>
  </div>
</li>
