---
import Wrapper from "@/components/Block/Wrapper.astro"
import Header from "@/components/Block/Header.astro"
import Controls from "@/components/Controls.astro"
import Bullets from "@/components/Bullets.astro"
import Item from "@/pages/news/components/Item.astro"

import { DATA } from "../../../news/_data"

type Props = {
  header?: string
}

const { header = "Latest news" } = Astro.props
---

<Wrapper
  id="news"
  class="glide px-0 sm:px-0"
  gap={24}
>
  <div class="px-4 sm:px-16">
    <div class="mx-auto flex w-full max-w-content items-center gap-8">
      <Header>{header}</Header>

      <Controls />
    </div>
  </div>

  <Bullets number={DATA.length} />

  <div
    class="glide__track mt-6 overflow-clip md:mt-[2.125rem]"
    data-glide-el="track"
  >
    <ul class="glide__slides flex md:pl-[calc((100vw_-_81.5rem)_/_2)]">
      {
        DATA.map((news) => (
          <Item
            {...news}
            class="glide__slide w-[calc(100vw_-_2rem)] shrink-0 px-4 md:w-[33rem] md:px-0"
          />
        ))
      }
    </ul>
  </div>
</Wrapper>
