---
import { cn } from "@/utils/classname"

import LanguageSwitch from "./components/LanguageSwitch.astro"
---

<header
  class="sticky top-0 z-50 bg-white p-4 text-sm font-medium md:static md:bg-transparent md:pb-6 md:pt-8"
>
  <div
    class="mx-auto flex w-full max-w-content flex-wrap items-center justify-between gap-4 md:gap-6"
  >
    <div class="flex items-center gap-4 md:gap-[1.625rem]">
      <a
        href="/"
        class="block"
      >
        <svg
          width="96"
          height="61"
          viewBox="0 0 96 61"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          class="h-[2.375rem] w-auto md:h-[5.125rem]"
        >
          <path
            d="M5.15999 36.4999C4.21697 36.5232 3.28276 36.3136 2.43999 35.8899C1.6775 35.4918 1.05086 34.8756 0.639989 34.1199C0.197151 33.3011 -0.0235037 32.3805 -1.11321e-05 31.4499C-0.0232942 30.5129 0.197242 29.586 0.639989 28.7599C1.05048 28.0064 1.67748 27.3934 2.43999 26.9999C3.27938 26.5648 4.21481 26.3482 5.15999 26.3699C6.10198 26.3481 7.03419 26.5649 7.86999 26.9999C8.63475 27.3937 9.26488 28.0065 9.67999 28.7599C10.1159 29.5846 10.3328 30.5074 10.31 31.4399C10.3306 32.3722 10.1138 33.2944 9.67999 34.1199C9.26336 34.8797 8.63441 35.5017 7.86999 35.9099C7.02901 36.3267 6.09812 36.5294 5.15999 36.4999ZM7.64999 31.4099C7.69411 30.6697 7.46255 29.9394 6.99999 29.3599C6.78133 29.1001 6.50671 28.8932 6.19671 28.7547C5.88671 28.6161 5.54938 28.5495 5.20999 28.5599C4.8692 28.5534 4.53134 28.6238 4.22146 28.7657C3.91158 28.9077 3.63765 29.1176 3.41999 29.3799C2.93472 29.9574 2.6848 30.6964 2.71999 31.4499C2.68986 32.1966 2.93948 32.9276 3.41999 33.4999C3.6401 33.7573 3.91524 33.9619 4.22507 34.0986C4.5349 34.2354 4.8715 34.3007 5.20999 34.2899C5.5483 34.2961 5.88371 34.2266 6.19169 34.0864C6.49967 33.9463 6.77242 33.739 6.98999 33.4799C7.45413 32.893 7.68874 32.1572 7.64999 31.4099Z"
            fill="#231F20"
          ></path>
          <path
            d="M21.26 31.41C21.2797 32.33 21.0809 33.2416 20.68 34.07C20.3104 34.823 19.7257 35.4494 19 35.87C18.1903 36.3073 17.28 36.5246 16.36 36.5C15.7382 36.4792 15.1308 36.3076 14.59 36V40.8H12V26.61H13.31L13.83 27.26C14.5484 26.6695 15.4501 26.3477 16.38 26.35C17.0455 26.305 17.713 26.4031 18.3374 26.6377C18.9618 26.8723 19.5287 27.2379 20 27.71C20.8928 28.7282 21.3458 30.0586 21.26 31.41ZM18.6 31.41C18.635 30.6757 18.4239 29.9507 18 29.35C17.8047 29.0923 17.5498 28.8858 17.2572 28.7483C16.9646 28.6107 16.643 28.5461 16.32 28.56C15.7017 28.578 15.1029 28.7799 14.6 29.14V33.74C15.1032 34.0956 15.7038 34.2877 16.32 34.29C16.6422 34.3011 16.9624 34.2342 17.2532 34.0949C17.5439 33.9556 17.7967 33.7481 17.99 33.49C18.4189 32.8838 18.6336 32.1519 18.6 31.41Z"
            fill="#231F20"
          ></path>
          <path
            d="M27.12 26.3499C27.9873 26.3186 28.843 26.5561 29.57 27.0299C30.2156 27.4824 30.7131 28.1156 31 28.8499C31.3303 29.6623 31.4936 30.533 31.48 31.4099V32.1999H25C25.0877 32.8043 25.3937 33.3556 25.86 33.7499C26.4493 34.1446 27.1521 34.3344 27.86 34.2899C28.349 34.2988 28.836 34.2244 29.3 34.0699C29.7761 33.905 30.235 33.694 30.67 33.4399L31.43 35.3099C30.951 35.6871 30.414 35.9843 29.84 36.1899C29.1957 36.4057 28.5194 36.5106 27.84 36.4999C26.3294 36.6059 24.8361 36.126 23.67 35.1599C23.1849 34.6768 22.8075 34.0964 22.5628 33.457C22.318 32.8175 22.2114 32.1335 22.25 31.4499C22.2302 30.5191 22.4325 29.597 22.84 28.7599C23.2132 28.0164 23.8023 27.403 24.53 26.9999C25.3203 26.5571 26.2143 26.3327 27.12 26.3499ZM27.06 28.5599C26.5668 28.544 26.0866 28.7196 25.72 29.0499C25.3248 29.427 25.0707 29.9282 25 30.4699H29C28.9462 29.9249 28.7223 29.4106 28.36 28.9999C28.0007 28.6892 27.5342 28.5313 27.06 28.5599Z"
            fill="#231F20"
          ></path>
          <path
            d="M38.29 28.44C37.8444 28.4369 37.4048 28.5433 37.01 28.75C36.5549 28.9928 36.1172 29.2667 35.7 29.57V36.26H33.11V26.61H34.8L35.24 27.61C35.8291 27.1927 36.4715 26.8564 37.15 26.61C37.7438 26.3983 38.3696 26.29 39 26.29C39.4775 26.2329 39.9618 26.2943 40.41 26.4687C40.8582 26.6431 41.2566 26.9252 41.57 27.29C42.1086 28.154 42.367 29.1634 42.31 30.18V36.18H39.68V30.33C39.7121 29.8386 39.5821 29.3503 39.31 28.94C39.1951 28.7782 39.0416 28.6477 38.8635 28.5604C38.6854 28.4731 38.4882 28.4317 38.29 28.44Z"
            fill="#231F20"
          ></path>
          <path
            d="M56.72 36.1999H55.37L54.77 35.3299C54.0157 36.0297 53.0289 36.4252 52 36.4399C51.346 36.4748 50.692 36.3718 50.0804 36.1375C49.4688 35.9032 48.9133 35.5429 48.45 35.0799C47.5417 34.0721 47.0705 32.7449 47.14 31.3899C47.1222 30.4657 47.3245 29.5505 47.73 28.7199C48.1046 27.9664 48.6968 27.3428 49.43 26.9299C50.2413 26.486 51.1557 26.2652 52.08 26.2899C52.4203 26.293 52.7579 26.3504 53.08 26.4599C53.4312 26.5754 53.767 26.7332 54.08 26.9299V22.3699L56.69 22.1499L56.72 36.1999ZM52.08 34.1999C52.4235 34.2018 52.7637 34.1338 53.08 33.9999C53.4351 33.8427 53.7707 33.6447 54.08 33.4099V29.3199C53.7879 29.0507 53.449 28.8372 53.08 28.6899C52.7614 28.5649 52.4223 28.5005 52.08 28.4999C51.7569 28.4899 51.4362 28.5584 51.1454 28.6994C50.8545 28.8405 50.6022 29.05 50.41 29.3099C49.9762 29.9142 49.7578 30.6467 49.79 31.3899C49.7548 32.1258 49.9698 32.8519 50.4 33.4499C50.5964 33.7057 50.8518 33.9103 51.1443 34.0461C51.4368 34.1819 51.7579 34.245 52.08 34.2299V34.1999Z"
            fill="#231F20"
          ></path>
          <path
            d="M63.67 36.4401C62.7439 36.4551 61.8278 36.2459 61 35.8301C60.2376 35.4319 59.6109 34.8157 59.2 34.0601C58.7572 33.2412 58.5366 32.3207 58.56 31.3901C58.5368 30.4531 58.7573 29.5261 59.2 28.7001C59.6073 27.9392 60.2347 27.3188 61 26.9201C61.8478 26.5087 62.7778 26.2949 63.72 26.2949C64.6623 26.2949 65.5923 26.5087 66.44 26.9201C67.2001 27.317 67.8261 27.9292 68.24 28.6801C68.6794 29.5038 68.8998 30.4267 68.88 31.3601C68.8755 32.284 68.6382 33.192 68.19 34.0001C67.7747 34.7574 67.1497 35.379 66.39 35.7901C65.5504 36.2265 64.6163 36.4497 63.67 36.4401ZM66.16 31.3501C66.1902 30.6034 65.9406 29.8724 65.46 29.3001C65.2376 29.0454 64.9632 28.8412 64.6553 28.7014C64.3475 28.5615 64.0132 28.4891 63.675 28.4891C63.3369 28.4891 63.0026 28.5615 62.6948 28.7014C62.3869 28.8412 62.1125 29.0454 61.89 29.3001C61.4012 29.876 61.1476 30.6153 61.18 31.3701C61.1623 32.0997 61.4112 32.8107 61.88 33.3701C62.1043 33.6219 62.3792 33.8234 62.6869 33.9614C62.9945 34.0994 63.3279 34.1708 63.665 34.1708C64.0022 34.1708 64.3356 34.0994 64.6432 33.9614C64.9509 33.8234 65.2258 33.6219 65.45 33.3701C65.9207 32.8033 66.1726 32.0866 66.16 31.3501Z"
            fill="#231F20"
          ></path>
          <path
            d="M75 36.4401C74.0569 36.4633 73.1227 36.2538 72.28 35.8301C71.5175 35.4319 70.8908 34.8157 70.48 34.0601C70.0371 33.2412 69.8165 32.3207 69.84 31.3901C69.8167 30.4531 70.0372 29.5261 70.48 28.7001C70.8873 27.9392 71.5146 27.3188 72.28 26.9201C73.1277 26.5087 74.0577 26.2949 75 26.2949C75.9422 26.2949 76.8722 26.5087 77.72 26.9201C78.48 27.317 79.1061 27.9292 79.52 28.6801C79.9355 29.5123 80.1518 30.4298 80.1518 31.3601C80.1518 32.2903 79.9355 33.2078 79.52 34.0401C79.1046 34.7974 78.4796 35.419 77.72 35.8301C76.8768 36.2526 75.9429 36.4621 75 36.4401ZM77.49 31.3501C77.5201 30.6034 77.2705 29.8724 76.79 29.3001C76.5675 29.0454 76.2931 28.8412 75.9852 28.7014C75.6774 28.5615 75.3431 28.4891 75.005 28.4891C74.6668 28.4891 74.3325 28.5615 74.0247 28.7014C73.7168 28.8412 73.4424 29.0454 73.22 29.3001C72.7626 29.8894 72.5144 30.6141 72.5144 31.3601C72.5144 32.106 72.7626 32.8307 73.22 33.4201C73.4442 33.6719 73.7191 33.8734 74.0268 34.0114C74.3344 34.1494 74.6678 34.2208 75.005 34.2208C75.3421 34.2208 75.6755 34.1494 75.9831 34.0114C76.2908 33.8734 76.5657 33.6719 76.79 33.4201C77.2613 32.836 77.5031 32.0999 77.47 31.3501H77.49Z"
            fill="#EE2A7B"
          ></path>
          <path
            d="M86.12 29.1C85.4658 29.4162 84.8597 29.8236 84.32 30.31V36.2001H81.73V26.55H83.08L83.94 28.16C84.4374 27.7267 84.9846 27.3541 85.57 27.05C86.0702 26.7496 86.6371 26.5778 87.22 26.55L87.74 28.6201C87.1707 28.6561 86.617 28.8202 86.12 29.1Z"
            fill="#231F20"
          ></path>
          <path
            d="M91.82 36.4399C91.2344 36.4297 90.6527 36.3423 90.09 36.1799C89.5092 36.0488 88.9614 35.8004 88.48 35.4499L89.25 33.6899C90.0395 34.0804 90.9005 34.305 91.78 34.3499C92.1582 34.3563 92.5334 34.2812 92.88 34.1299C93.0164 34.0928 93.1379 34.0142 93.2275 33.9048C93.3171 33.7955 93.3704 33.661 93.38 33.5199C93.38 32.9999 92.81 32.5199 91.68 32.2199C90.8547 31.9654 90.0799 31.5696 89.39 31.0499C89.1044 30.8432 88.8727 30.5709 88.7143 30.2559C88.5559 29.9409 88.4756 29.5925 88.48 29.2399C88.4619 28.8262 88.5432 28.4141 88.7172 28.0383C88.8912 27.6624 89.1528 27.3338 89.48 27.0799C90.2817 26.5148 91.2506 26.2364 92.23 26.2899C92.7904 26.3057 93.3458 26.4 93.88 26.5699C94.4677 26.7263 95.0276 26.9725 95.54 27.2999L94.77 28.9999C94.3355 28.7941 93.8838 28.6268 93.42 28.4999C93.0228 28.3902 92.6121 28.3364 92.2 28.3399C91.9031 28.3275 91.6107 28.4156 91.37 28.5899C91.2734 28.6555 91.1939 28.7433 91.1382 28.846C91.0825 28.9486 91.0523 29.0632 91.05 29.1799C91.05 29.3499 91.17 29.4999 91.43 29.6399C91.7943 29.8249 92.172 29.982 92.56 30.1099C93.4151 30.4078 94.2108 30.8547 94.91 31.4299C95.2094 31.6685 95.4493 31.9733 95.6107 32.3204C95.7721 32.6675 95.8506 33.0473 95.84 33.4299C95.8662 33.8563 95.7889 34.2826 95.6148 34.6726C95.4407 35.0626 95.1749 35.4048 94.84 35.6699C93.9437 36.2478 92.8836 36.5181 91.82 36.4399Z"
            fill="#231F20"
          ></path>
          <path
            d="M81.77 56.3999C81.77 56.7632 81.6256 57.1117 81.3687 57.3686C81.1118 57.6256 80.7633 57.7699 80.4 57.7699H43.65C43.2866 57.7699 42.9382 57.6256 42.6812 57.3686C42.4243 57.1117 42.28 56.7632 42.28 56.3999V38.6399H39.36V56.3999C39.36 57.5386 39.8116 58.6308 40.6159 59.4369C41.4201 60.243 42.5113 60.6972 43.65 60.6999H80.4C81.5387 60.6972 82.6298 60.243 83.4341 59.4369C84.2383 58.6308 84.69 57.5386 84.69 56.3999V38.6399H81.77V56.3999Z"
            fill="#EE2A7B"
          ></path>
          <path
            d="M42.28 4.3C42.28 3.93573 42.424 3.58623 42.6806 3.32771C42.9373 3.0692 43.2857 2.92264 43.65 2.92H80.4C80.7642 2.92264 81.1127 3.0692 81.3693 3.32771C81.626 3.58623 81.77 3.93573 81.77 4.3V22.06H84.69V4.3C84.69 3.1613 84.2383 2.06909 83.4341 1.26297C82.6298 0.456851 81.5387 0.00264814 80.4 0L43.65 0C42.5113 0.00264814 41.4201 0.456851 40.6159 1.26297C39.8116 2.06909 39.36 3.1613 39.36 4.3V22.06H42.28V4.3Z"
            fill="#1A9BD7"
          ></path>
        </svg>
      </a>

      <div
        class="flex flex-col gap-1 text-[0.5rem] leading-[0.875rem] text-black md:text-[0.75rem]"
      >
        <div>Russian Scholarship Project</div>

        <div>Association &quot;Global Universities&quot;</div>
      </div>
    </div>

    <div>
      <button
        id="hamburger"
        class="group peer flex h-[2.25rem] w-[2.25rem] items-center justify-center md:hidden"
      >
        <svg
          width="28"
          height="18"
          viewBox="0 0 28 18"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          class="group-data-[active='true']:hidden"
        >
          <rect
            width="28"
            height="2"
            rx="1"
            fill="#2D2D37"
          ></rect>
          <rect
            y="8"
            width="28"
            height="2"
            rx="1"
            fill="#2D2D37"
          ></rect>
          <rect
            y="16"
            width="28"
            height="2"
            rx="1"
            fill="#2D2D37"
          ></rect>
        </svg>

        <svg
          width="19"
          height="19"
          viewBox="0 0 19 19"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          class="hidden group-data-[active='true']:inline-block"
        >
          <path
            d="M11.1744 9.49899L18.651 2.03423C18.8745 1.81075 19 1.50766 19 1.19162C19 0.875585 18.8745 0.572491 18.651 0.349018C18.4275 0.125546 18.1244 0 17.8084 0C17.4923 0 17.1892 0.125546 16.9658 0.349018L9.50101 7.82565L2.03625 0.349018C1.81278 0.125546 1.50969 2.80593e-07 1.19365 2.82947e-07C0.87761 2.85302e-07 0.574516 0.125546 0.351043 0.349018C0.127571 0.572491 0.00202562 0.875585 0.00202562 1.19162C0.00202562 1.50766 0.127571 1.81075 0.351043 2.03423L7.82767 9.49899L0.351043 16.9637C0.23981 17.0741 0.151521 17.2053 0.0912708 17.35C0.0310203 17.4946 0 17.6497 0 17.8064C0 17.963 0.0310203 18.1181 0.0912708 18.2628C0.151521 18.4074 0.23981 18.5386 0.351043 18.649C0.461369 18.7602 0.592626 18.8485 0.737245 18.9087C0.881863 18.969 1.03698 19 1.19365 19C1.35031 19 1.50543 18.969 1.65005 18.9087C1.79467 18.8485 1.92593 18.7602 2.03625 18.649L9.50101 11.1723L16.9658 18.649C17.0761 18.7602 17.2074 18.8485 17.352 18.9087C17.4966 18.969 17.6517 19 17.8084 19C17.965 19 18.1202 18.969 18.2648 18.9087C18.4094 18.8485 18.5407 18.7602 18.651 18.649C18.7622 18.5386 18.8505 18.4074 18.9108 18.2628C18.971 18.1181 19.002 17.963 19.002 17.8064C19.002 17.6497 18.971 17.4946 18.9108 17.35C18.8505 17.2053 18.7622 17.0741 18.651 16.9637L11.1744 9.49899Z"
            fill="#151515"
          ></path>
        </svg>
      </button>

      <nav
        class="absolute left-0 top-full z-50 hidden h-[calc(100vh_-_4.375rem)] w-full grow flex-col gap-[1rem_3rem] whitespace-nowrap bg-white px-6 py-8 text-[0.875rem] font-semibold uppercase peer-data-[active='true']:flex md:static md:flex md:h-auto md:flex-row md:flex-wrap md:justify-end md:bg-transparent md:p-0 md:text-[0.75rem]"
      >
        <ul
          class="flex grow flex-col gap-8 md:flex-row md:flex-wrap md:justify-end md:gap-[0.5rem_1rem]"
        >
          {
            [
              { title: "News", href: "/news" },
              { title: "About", href: "/about" },
              { title: "Rules", href: "/rules" },
              { title: "Universities", href: "/#universities" },
              { title: "Tracks", href: "/olympiad" },
              { title: "Subjects", href: "/subjects" },
              { title: "Schedule", href: "/#!" },
              { title: "FAQ", href: "/#faq" },
              { title: "Contact us", href: "/contacts" },
            ].map(({ title, href }) => (
              <li>
                <a
                  href={import.meta.env.BASE_URL + href}
                  title={title}
                  class={cn(
                    "hover:text-blue",
                    Astro.url.pathname.startsWith(
                      import.meta.env.BASE_URL + href
                    ) && "text-blue"
                  )}
                >
                  {title}
                </a>
              </li>
            ))
          }
        </ul>

        <div class="flex shrink justify-between gap-[1rem_3rem]">
          <LanguageSwitch />

          <ul class="flex gap-6">
            <li>
              <a
                href="#!"
                title="Sing in"
                class="hover:text-blue"
              >
                Sign in
              </a>
            </li>

            <li>
              <a
                href="#!"
                title="Sign up"
                class="text-pink hover:text-blue"
              >
                Sign up
              </a>
            </li>
          </ul>
        </div>

        <div class="absolute right-4 top-8 flex flex-col gap-1 md:hidden">
          <a
            href="#!"
            title=""
            target="_blank"
            class="flex h-12 w-12 items-center justify-center transition-opacity hover:opacity-50"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="29"
              height="16"
              fill="none"
            >
              <path
                fill="#2D2D37"
                fill-rule="evenodd"
                d="M27.69 1.07c.2-.63 0-1.07-.92-1.07h-3.06c-.8 0-1.14.4-1.34.84 0 0-1.55 3.67-3.76 6.02-.73.7-1.03.9-1.43.9-.2 0-.48-.2-.48-.83V1.07c0-.75-.22-1.07-.87-1.07H11c-.48 0-.78.36-.78.67 0 .72 1.09.89 1.22 2.87v4.33c0 .95-.17 1.12-.57 1.12-1.03 0-3.57-3.66-5.05-7.87C5.52.34 5.23 0 4.45 0H1.38C.51 0 .33.4.33.84c0 .78 1.03 4.65 4.84 9.77 2.54 3.5 6.1 5.39 9.34 5.39 1.95 0 2.2-.42 2.2-1.14v-2.65c0-.84.17-1.01.8-1.01.46 0 1.23.21 3.04 1.9 2.08 2 2.43 2.9 3.6 2.9h3.06c.87 0 1.31-.42 1.05-1.24-.29-.82-1.27-2.02-2.58-3.45-.73-.83-1.8-1.69-2.1-2.13-.47-.57-.33-.82 0-1.3 0-.03 3.74-5.08 4.1-6.8Z"
                clip-rule="evenodd"
              ></path>
            </svg>
          </a>

          <a
            href="#!"
            title=""
            target="_blank"
            class="flex h-12 w-12 items-center justify-center transition-opacity hover:opacity-50"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="22"
              fill="none"
            >
              <path
                fill="#2D2D37"
                d="m.42 10.25 5.47 2.04 2.12 6.81c.14.44.67.6 1.02.31l3.05-2.49a.91.91 0 0 1 1.11-.03l5.5 4c.38.27.92.07 1.02-.4l4.03-19.38a.65.65 0 0 0-.87-.73L.41 9.04a.65.65 0 0 0 0 1.2Zm7.25.95 10.7-6.58c.19-.12.38.14.22.3l-8.83 8.2c-.3.29-.5.67-.56 1.1l-.3 2.22c-.05.3-.46.33-.55.04L7.2 12.42c-.13-.47.06-.96.47-1.22Z"
              ></path>
            </svg>
          </a>
        </div>
      </nav>
    </div>
  </div>
</header>

<script>
  const hamburger = document.getElementById("hamburger")

  hamburger?.addEventListener("click", () => {
    const active = hamburger.dataset.active === "true"

    if (active) {
      delete hamburger.dataset.active
    } else {
      hamburger.dataset.active = "true"
    }
  })
</script>
