---
type Props = {
  items: (string | Item)[]
}

type Item = {
  text: string
  href: string
}

const { items } = Astro.props
---

<ul
  class="flex flex-wrap gap-x-4 gap-y-2 text-[0.75rem] font-semibold uppercase text-mid-gray"
>
  <li
    class="relative [&:not(:last-child)]:pr-6 [&:not(:last-child)]:after:absolute [&:not(:last-child)]:after:right-0 [&:not(:last-child)]:after:top-1/2 [&:not(:last-child)]:after:-translate-y-1/2 [&:not(:last-child)]:after:content-['/']"
  >
    <a
      href="/"
      title=""
      class="text-mid-gray hover:text-blue"
      >Home</a
    >
  </li>

  {
    items.map((item) => (
      <li class="relative [&:not(:last-child)]:pr-6 [&:not(:last-child)]:after:absolute [&:not(:last-child)]:after:right-0 [&:not(:last-child)]:after:top-1/2 [&:not(:last-child)]:after:-translate-y-1/2 [&:not(:last-child)]:after:content-['/']">
        {typeof item === "string" ? (
          <span class="text-black">{item}</span>
        ) : (
          <a
            href={item.href}
            title=""
            class="text-mid-gray hover:text-blue"
          >
            {item.text}
          </a>
        )}
      </li>
    ))
  }
</ul>
