---

---

<div
  class="ml-auto flex items-center gap-2 fill-black md:ml-0"
  data-glide-el="controls"
>
  <button
    class="glide__arrow glide__arrow--left flex h-6 w-6 rotate-180 items-center justify-center transition-colors [&.glide\\_\\_arrow--disabled]:fill-gray [&:not(.glide\\_\\_arrow--disabled)]:hover:fill-blue"
    data-glide-dir="<"
  >
    <svg
      width="17"
      height="12"
      viewBox="0 0 17 12"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M16.5303 6.36822C16.8232 6.07533 16.8232 5.60045 16.5303 5.30756L11.7574 0.53459C11.4645 0.241696 10.9896 0.241696 10.6967 0.53459C10.4038 0.827483 10.4038 1.30236 10.6967 1.59525L14.9393 5.83789L10.6967 10.0805C10.4038 10.3734 10.4038 10.8483 10.6967 11.1412C10.9896 11.4341 11.4645 11.4341 11.7574 11.1412L16.5303 6.36822ZM0 6.58789H16V5.08789H0V6.58789Z"
      ></path>
    </svg>
  </button>

  <button
    class="glide__arrow glide__arrow--right flex h-6 w-6 items-center justify-center transition-all [&.glide\\_\\_arrow--disabled]:fill-gray [&:not(.glide\\_\\_arrow--disabled)]:hover:fill-blue"
    data-glide-dir=">"
  >
    <svg
      width="17"
      height="12"
      viewBox="0 0 17 12"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M16.5303 6.36822C16.8232 6.07533 16.8232 5.60045 16.5303 5.30756L11.7574 0.53459C11.4645 0.241696 10.9896 0.241696 10.6967 0.53459C10.4038 0.827483 10.4038 1.30236 10.6967 1.59525L14.9393 5.83789L10.6967 10.0805C10.4038 10.3734 10.4038 10.8483 10.6967 11.1412C10.9896 11.4341 11.4645 11.4341 11.7574 11.1412L16.5303 6.36822ZM0 6.58789H16V5.08789H0V6.58789Z"
      ></path>
    </svg>
  </button>
</div>
