---

---

<div class="flex gap-2 uppercase lg:absolute lg:-top-8 lg:right-0">
  <a
    href="#!"
    title="English"
    class="text-blue"
  >
    En
  </a>

  <a
    href="#!"
    title="Russian"
    class="text-gray hover:text-blue"
  >
    Ru
  </a>
</div>
