---
import Application from "@/layouts/Application.astro"

import Breadcrumbs from "@/components/Breadcrumbs.astro"
import Typography from "@/components/Typography.astro"
---

<Application>
  <main>
    <div class="bg-white bg-opacity-60 px-4 pb-8 pt-6 md:py-12">
      <div class="mx-auto w-full max-w-content">
        <Breadcrumbs items={["Olympiad tracks"]} />

        <div class="mt-6 flex max-w-[52.5rem] flex-col">
          <h1 class="text-[1.5rem] font-bold leading-9">Olympiad tracks</h1>

          <Typography>
            <p>
              The Olympiad has two tracks - for prospective Master's and
              postgraduate (doctoral) students. Depending on the chosen
              direction, the winners of the Olympiad will be able to study for
              free the master's or postgraduate programs of the chosen
              University.
            </p>

            <p>
              There are two rounds for the Master's track and three rounds for
              the doctoral track. The first round is a competition of
              portfolios, and the second round is a problem-solving challenge.
            </p>

            <p>
              The third round of the doctoral track involves the selection of a
              prospective research supervisor for the chosen doctoral program
              and an interview with him/her.
            </p>

            <p>
              The first two rounds of the Olympiad are held simultaneously for
              both tracks of the Olympiad.
            </p>
          </Typography>
        </div>
      </div>
    </div>
  </main>
</Application>
